/* All */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ARTEZZI */

.Title{
    font-family: 'Rubik Vinyl', cursive;
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: #f1f1f1;
    left: 220px;
    transform: translate(-150%, -100%);
}

/* BASE */

body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: rgb(57,82,193);
    background-size: cover;
    background: linear-gradient(100deg, rgba(57,82,193,1) 21%, rgba(255,160,116,1) 100%);
}
